@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Satoshi";
    src: url(../assets/fonts/Satoshi.otf) format("otf");
  }
  @font-face {
    font-family: "Inter";
    src: url(../assets/fonts/Inter.ttf) format("ttf");
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.box-shadow-xs {
  box-shadow: 0px 1px 2px 0px rgba(20, 21, 26, 0.05);
}

.video-box-shadow {
  box-shadow: 0px 7.867px 12.587px -2.36px rgba(20, 21, 26, 0.08),
    0px 2.36px 4.72px -1.573px rgba(20, 21, 26, 0.05);
  border: 0.787px solid rgba(10, 15, 41, 0.08);
  border-radius: 0.5895rem;
}

.border-vid {
  border: 0.787px solid rgba(10, 15, 41, 0.08);
}
